# Node modules
node_modules/

# Angular build output
dist/
out-tsc/
.tmp/
.angular/


# IDE / editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Compiled TypeScript
*.js
*.js.map

# Optional coverage reports
coverage/
