*{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
//
//:root {
//  /* 🎨 TUS TOKENS */
//  --primary-color: #FF8F8F;
//  --secondary-color: #FFFFFF;
//  --background-color: #FFFFFF;
//  --text-color: #333333;
//  --border-radius: 8px;
//
//  /* 🔗 MAPPING A PRIMENG */
//  --p-primary-color: var(--primary-color);
//
//  --p-button-primary-background: transparent;
//  --p-button-primary-border-color: var(--primary-color);
//  --p-button-primary-color: var(--text-color);
//
//  --p-button-primary-hover-background: var(--primary-color);
//  --p-button-primary-hover-border-color: var(--primary-color);
//  --p-button-primary-hover-color: var(--secondary-color);
//
//  --p-button-border-radius: var(--border-radius);
//}
